.git
.gitignore
__pycache__
*.pyc
*.pyo
.env
db.sqlite3
staticfiles/
mediafiles/
.venv/ # Если создавали локально
dist/ # Результаты сборки Poetry, если есть
# Poetry cache (обычно в ~/.cache/pypoetry, не должно попасть в /app)