/* static/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif; /* <-- ИЗМЕНЕНО ЗДЕСЬ */
    /* Остальные настройки для body (font-size, line-height...) */
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Можно оставить или изменить настройки для заголовков/кнопок */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600; /* SemiBold - Montserrat поддерживает это */
    /* Или можно выбрать другое начертание, если хотите */
}

input, select, textarea, button {
      font-family: inherit; /* Наследуем Montserrat от body */
}



