{% extends "_base_error.html" %}
{% load static %}

{% block error_page_title_tag %}Произошла ошибка{% endblock %}

{% block error_code %}Ошибка{% endblock %}

{% block error_title_main %}Произошла непредвиденная ошибка{% endblock %}

{% block error_message_subtitle %}
Сожалеем, что-то пошло не так. Мы уже работаем над решением проблемы.
Пожалуйста, попробуйте позже или свяжитесь со службой поддержки, если проблема не исчезнет.
{% endblock %}

{% block error_actions %}
    <a href="{% url 'employee_dashboard' %}" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <path d="M5 12l14 0"></path>
           <path d="M5 12l6 6"></path>
           <path d="M5 12l6 -6"></path>
        </svg>
        Вернуться на панель управления
    </a>
{% endblock %}