{% extends "base.html" %}
{% block title %}Панель администратора{% endblock %}

{% block content %}
<h2>Панель администратора</h2>
<hr>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Текущих гостей</h5>
                <p class="card-text fs-2">{{ current_visits.count }}</p>
                 <a href="{% url 'current_guests' %}" class="btn btn-sm btn-outline-primary">Посмотреть список</a>
            </div>
        </div>
    </div>
     <div class="col-md-4">
         <div class="card text-center">
             <div class="card-body">
                 <h5 class="card-title">Визитов сегодня</h5>
                 <p class="card-text fs-2">{{ total_visits_today }}</p>
                 <a href="{% url 'visit_history' %}" class="btn btn-sm btn-outline-secondary">История визитов</a>
             </div>
         </div>
    </div>
     <div class="col-md-4">
         <div class="card text-center">
             <div class="card-body">
                 <h5 class="card-title">Управление</h5>
                 <p class="card-text">Пользователи, департаменты и др.</p>
                 <a href="{{ admin_url }}" target="_blank" class="btn btn-sm btn-info">Перейти в Django Admin</a>
             </div>
         </div>
    </div>
</div>


{% endblock %}