/**
 * Converts a given value to a percentage string.
 *
 * @param {Number} $value - The value to be converted to a percentage.
 * @return {String} - The percentage representation of the value.
 */
/**
 * Generates a transparent version of the given color.
 *
 * @param {Color} $color - The base color to be made transparent.
 * @param {Number} $alpha - The level of transparency, ranging from 0 (fully transparent) to 1 (fully opaque). Default is 1.
 * @return {Color} - The resulting color with the specified transparency.
 */
.flag {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  aspect-ratio: 1.33333;
  background: no-repeat center/cover;
  box-shadow: var(--tblr-shadow-border);
  border-radius: var(--tblr-border-radius);
  vertical-align: bottom;
}
.flag.flag-country-np {
  box-shadow: none;
  border-radius: 0;
}

.flag-country-ad {
  background-image: url("../img/flags/ad.916446064ea5.svg");
}

.flag-country-af {
  background-image: url("../img/flags/af.70f3e8be8806.svg");
}

.flag-country-ae {
  background-image: url("../img/flags/ae.f532dd38a744.svg");
}

.flag-country-afrun {
  background-image: url("../img/flags/afrun.3963b19b1958.svg");
}

.flag-country-ag {
  background-image: url("../img/flags/ag.4d88bb74215e.svg");
}

.flag-country-ai {
  background-image: url("../img/flags/ai.e82793d206e4.svg");
}

.flag-country-al {
  background-image: url("../img/flags/al.f93934b982ae.svg");
}

.flag-country-am {
  background-image: url("../img/flags/am.0035622583f6.svg");
}

.flag-country-ao {
  background-image: url("../img/flags/ao.df30c0c28a04.svg");
}

.flag-country-aq {
  background-image: url("../img/flags/aq.3ed93820f027.svg");
}

.flag-country-ar {
  background-image: url("../img/flags/ar.bcd97740d2d6.svg");
}

.flag-country-as {
  background-image: url("../img/flags/as.e082d80a9f6c.svg");
}

.flag-country-at {
  background-image: url("../img/flags/at.6b5c0febefbd.svg");
}

.flag-country-au {
  background-image: url("../img/flags/au.3a0f23472670.svg");
}

.flag-country-aw {
  background-image: url("../img/flags/aw.52c3379e5a21.svg");
}

.flag-country-ax {
  background-image: url("../img/flags/ax.d6868871575f.svg");
}

.flag-country-az {
  background-image: url("../img/flags/az.b78cc26edc57.svg");
}

.flag-country-ba {
  background-image: url("../img/flags/ba.56ca367c6977.svg");
}

.flag-country-bb {
  background-image: url("../img/flags/bb.2d7964735a70.svg");
}

.flag-country-bd {
  background-image: url("../img/flags/bd.c1edfa769c9d.svg");
}

.flag-country-be {
  background-image: url("../img/flags/be.40cd3b93cfc3.svg");
}

.flag-country-bf {
  background-image: url("../img/flags/bf.0acad87b31eb.svg");
}

.flag-country-bg {
  background-image: url("../img/flags/bg.a5dd0d2a204a.svg");
}

.flag-country-bh {
  background-image: url("../img/flags/bh.d0918deba593.svg");
}

.flag-country-bi {
  background-image: url("../img/flags/bi.038e1191687c.svg");
}

.flag-country-bj {
  background-image: url("../img/flags/bj.92620e47c868.svg");
}

.flag-country-bl {
  background-image: url("../img/flags/bl.0f600681bb55.svg");
}

.flag-country-bm {
  background-image: url("../img/flags/bm.3a9c49b2c603.svg");
}

.flag-country-bn {
  background-image: url("../img/flags/bn.cbe4f9ca3706.svg");
}

.flag-country-bo {
  background-image: url("../img/flags/bo.41fefc08e6af.svg");
}

.flag-country-bq-bo {
  background-image: url("../img/flags/bq-bo.f773356a739e.svg");
}

.flag-country-bq-sa {
  background-image: url("../img/flags/bq-sa.2d463c722df1.svg");
}

.flag-country-bq-se {
  background-image: url("../img/flags/bq-se.7876ff82ec63.svg");
}

.flag-country-br {
  background-image: url("../img/flags/br.f5dd8226ce14.svg");
}

.flag-country-bs {
  background-image: url("../img/flags/bs.b4507d6ee903.svg");
}

.flag-country-bt {
  background-image: url("../img/flags/bt.676c48293f14.svg");
}

.flag-country-bv {
  background-image: url("../img/flags/bv.a5b13cf8c49b.svg");
}

.flag-country-bw {
  background-image: url("../img/flags/bw.e389f767d22b.svg");
}

.flag-country-by {
  background-image: url("../img/flags/by.517a60087b05.svg");
}

.flag-country-bz {
  background-image: url("../img/flags/bz.31312edf40b8.svg");
}

.flag-country-ca {
  background-image: url("../img/flags/ca.014d73aaae93.svg");
}

.flag-country-cc {
  background-image: url("../img/flags/cc.60e85f9e0355.svg");
}

.flag-country-cd {
  background-image: url("../img/flags/cd.1057834c2e02.svg");
}

.flag-country-cf {
  background-image: url("../img/flags/cf.2412550b0f07.svg");
}

.flag-country-cg {
  background-image: url("../img/flags/cg.341a3d6a037e.svg");
}

.flag-country-ch {
  background-image: url("../img/flags/ch.7f4507be47db.svg");
}

.flag-country-ci {
  background-image: url("../img/flags/ci.a6adc117e4ae.svg");
}

.flag-country-ck {
  background-image: url("../img/flags/ck.aef0aa689522.svg");
}

.flag-country-cl {
  background-image: url("../img/flags/cl.fac55b367d20.svg");
}

.flag-country-cm {
  background-image: url("../img/flags/cm.2c56b52465de.svg");
}

.flag-country-cn {
  background-image: url("../img/flags/cn.393c924a5da2.svg");
}

.flag-country-co {
  background-image: url("../img/flags/co.9c551f23c404.svg");
}

.flag-country-cr {
  background-image: url("../img/flags/cr.bfadfbbd41e3.svg");
}

.flag-country-cu {
  background-image: url("../img/flags/cu.41b1e237d148.svg");
}

.flag-country-cv {
  background-image: url("../img/flags/cv.22be3fa39ab0.svg");
}

.flag-country-cw {
  background-image: url("../img/flags/cw.c628746cf481.svg");
}

.flag-country-cx {
  background-image: url("../img/flags/cx.7048eb707e28.svg");
}

.flag-country-cy {
  background-image: url("../img/flags/cy.1faf92753bcd.svg");
}

.flag-country-cz {
  background-image: url("../img/flags/cz.a1d31cdc7826.svg");
}

.flag-country-de {
  background-image: url("../img/flags/de.42f4cd47f72f.svg");
}

.flag-country-dj {
  background-image: url("../img/flags/dj.09802e7bf393.svg");
}

.flag-country-dk {
  background-image: url("../img/flags/dk.9da52272a76b.svg");
}

.flag-country-dm {
  background-image: url("../img/flags/dm.3d5dd0e78541.svg");
}

.flag-country-do {
  background-image: url("../img/flags/do.c146073a2fb2.svg");
}

.flag-country-dz {
  background-image: url("../img/flags/dz.53cd2d97873a.svg");
}

.flag-country-ec {
  background-image: url("../img/flags/ec.9e41bd20d1f8.svg");
}

.flag-country-ee {
  background-image: url("../img/flags/ee.35291ead406d.svg");
}

.flag-country-eg {
  background-image: url("../img/flags/eg.b9c6d1acb7e3.svg");
}

.flag-country-eh {
  background-image: url("../img/flags/eh.43a35ac70e5c.svg");
}

.flag-country-er {
  background-image: url("../img/flags/er.c40bd46462f8.svg");
}

.flag-country-es {
  background-image: url("../img/flags/es.58d92463ae28.svg");
}

.flag-country-et {
  background-image: url("../img/flags/et.15788e9dc3a3.svg");
}

.flag-country-eu {
  background-image: url("../img/flags/eu.e2f89a7acbcf.svg");
}

.flag-country-fi {
  background-image: url("../img/flags/fi.958d0da962d7.svg");
}

.flag-country-fj {
  background-image: url("../img/flags/fj.6f2853722432.svg");
}

.flag-country-fk {
  background-image: url("../img/flags/fk.31b46476b497.svg");
}

.flag-country-fm {
  background-image: url("../img/flags/fm.3afb00795764.svg");
}

.flag-country-fo {
  background-image: url("../img/flags/fo.0095ac9626df.svg");
}

.flag-country-fr {
  background-image: url("../img/flags/fr.a2ba5489b013.svg");
}

.flag-country-ga {
  background-image: url("../img/flags/ga.4c53a3ed2efd.svg");
}

.flag-country-gb-eng {
  background-image: url("../img/flags/gb-eng.673f1c3bc289.svg");
}

.flag-country-gb-sct {
  background-image: url("../img/flags/gb-sct.c3e432537b53.svg");
}

.flag-country-gb {
  background-image: url("../img/flags/gb.4013a67323e2.svg");
}

.flag-country-gb-wls {
  background-image: url("../img/flags/gb-wls.bdac8d4cb353.svg");
}

.flag-country-gb-nir {
  background-image: url("../img/flags/gb-nir.4013a67323e2.svg");
}

.flag-country-gd {
  background-image: url("../img/flags/gd.ab794b838a43.svg");
}

.flag-country-ge {
  background-image: url("../img/flags/ge.f0409d50fe7e.svg");
}

.flag-country-gf {
  background-image: url("../img/flags/gf.a7f3a2b936f4.svg");
}

.flag-country-gg {
  background-image: url("../img/flags/gg.8970e0019d19.svg");
}

.flag-country-gh {
  background-image: url("../img/flags/gh.5956e0f1e587.svg");
}

.flag-country-gi {
  background-image: url("../img/flags/gi.3a81c2bf120e.svg");
}

.flag-country-gl {
  background-image: url("../img/flags/gl.6d3426df521c.svg");
}

.flag-country-gm {
  background-image: url("../img/flags/gm.392c458723da.svg");
}

.flag-country-gn {
  background-image: url("../img/flags/gn.3375e4e976a4.svg");
}

.flag-country-gp {
  background-image: url("../img/flags/gp.f8d6e1c972e5.svg");
}

.flag-country-gq {
  background-image: url("../img/flags/gq.0d5581bc14ef.svg");
}

.flag-country-gr {
  background-image: url("../img/flags/gr.14552f40e85a.svg");
}

.flag-country-gs {
  background-image: url("../img/flags/gs.280308cdf157.svg");
}

.flag-country-gt {
  background-image: url("../img/flags/gt.af65d1d935c6.svg");
}

.flag-country-gu {
  background-image: url("../img/flags/gu.81e31c1f5933.svg");
}

.flag-country-gw {
  background-image: url("../img/flags/gw.994583b69809.svg");
}

.flag-country-gy {
  background-image: url("../img/flags/gy.f18f360dc002.svg");
}

.flag-country-hk {
  background-image: url("../img/flags/hk.fe82dccc58d5.svg");
}

.flag-country-hm {
  background-image: url("../img/flags/hm.54b12cb8ca0c.svg");
}

.flag-country-hn {
  background-image: url("../img/flags/hn.c1306573321e.svg");
}

.flag-country-hr {
  background-image: url("../img/flags/hr.db23c8c33592.svg");
}

.flag-country-ht {
  background-image: url("../img/flags/ht.c8143cfec9a8.svg");
}

.flag-country-hu {
  background-image: url("../img/flags/hu.5da54553eef1.svg");
}

.flag-country-id {
  background-image: url("../img/flags/id.92250a504cee.svg");
}

.flag-country-ie {
  background-image: url("../img/flags/ie.aba8a98e30a3.svg");
}

.flag-country-il {
  background-image: url("../img/flags/il.7059ed0b186c.svg");
}

.flag-country-im {
  background-image: url("../img/flags/im.3b7ba50c79d3.svg");
}

.flag-country-in {
  background-image: url("../img/flags/in.d82e43a0015a.svg");
}

.flag-country-io {
  background-image: url("../img/flags/io.28265a65659d.svg");
}

.flag-country-iq {
  background-image: url("../img/flags/iq.3235460ccfae.svg");
}

.flag-country-ir {
  background-image: url("../img/flags/ir.40bbfb08a28f.svg");
}

.flag-country-is {
  background-image: url("../img/flags/is.0774fb89b104.svg");
}

.flag-country-it {
  background-image: url("../img/flags/it.62f2c53b3fce.svg");
}

.flag-country-je {
  background-image: url("../img/flags/je.5b3506a91e56.svg");
}

.flag-country-jm {
  background-image: url("../img/flags/jm.4569feaad42a.svg");
}

.flag-country-jo {
  background-image: url("../img/flags/jo.82e45df98080.svg");
}

.flag-country-jp {
  background-image: url("../img/flags/jp.4696fa746a57.svg");
}

.flag-country-ke {
  background-image: url("../img/flags/ke.ff2b23e0ea87.svg");
}

.flag-country-kg {
  background-image: url("../img/flags/kg.a5b71ba96136.svg");
}

.flag-country-kh {
  background-image: url("../img/flags/kh.3f03fc474b46.svg");
}

.flag-country-ki {
  background-image: url("../img/flags/ki.b37d784888dc.svg");
}

.flag-country-km {
  background-image: url("../img/flags/km.4e8b25da346f.svg");
}

.flag-country-kn {
  background-image: url("../img/flags/kn.bd42361d7bd1.svg");
}

.flag-country-kp {
  background-image: url("../img/flags/kp.6302cb701966.svg");
}

.flag-country-kr {
  background-image: url("../img/flags/kr.7dc5493fe325.svg");
}

.flag-country-kw {
  background-image: url("../img/flags/kw.3dd2e13336a1.svg");
}

.flag-country-ky {
  background-image: url("../img/flags/ky.74a8444a1a0c.svg");
}

.flag-country-kz {
  background-image: url("../img/flags/kz.0c14f016abd1.svg");
}

.flag-country-la {
  background-image: url("../img/flags/la.340a7bd49ec5.svg");
}

.flag-country-lb {
  background-image: url("../img/flags/lb.ac08e1906e69.svg");
}

.flag-country-lc {
  background-image: url("../img/flags/lc.76785f162241.svg");
}

.flag-country-li {
  background-image: url("../img/flags/li.fcb1ffca1c92.svg");
}

.flag-country-lk {
  background-image: url("../img/flags/lk.80d2bdac782b.svg");
}

.flag-country-lr {
  background-image: url("../img/flags/lr.759728d3c697.svg");
}

.flag-country-ls {
  background-image: url("../img/flags/ls.d3f0681b0952.svg");
}

.flag-country-lt {
  background-image: url("../img/flags/lt.5319c4f22906.svg");
}

.flag-country-lu {
  background-image: url("../img/flags/lu.9b4e7a7155e2.svg");
}

.flag-country-lv {
  background-image: url("../img/flags/lv.c181a1c627c8.svg");
}

.flag-country-ly {
  background-image: url("../img/flags/ly.9387422973d9.svg");
}

.flag-country-ma {
  background-image: url("../img/flags/ma.f83d03398b01.svg");
}

.flag-country-mc {
  background-image: url("../img/flags/mc.6298d00c03a4.svg");
}

.flag-country-md {
  background-image: url("../img/flags/md.2f00c2390848.svg");
}

.flag-country-me {
  background-image: url("../img/flags/me.cff93340f10a.svg");
}

.flag-country-mf {
  background-image: url("../img/flags/mf.88911ea04c49.svg");
}

.flag-country-mg {
  background-image: url("../img/flags/mg.f6a951557e20.svg");
}

.flag-country-mh {
  background-image: url("../img/flags/mh.13e063d6a5cf.svg");
}

.flag-country-mk {
  background-image: url("../img/flags/mk.c49d99eea9fb.svg");
}

.flag-country-ml {
  background-image: url("../img/flags/ml.d98314cb5fad.svg");
}

.flag-country-mm {
  background-image: url("../img/flags/mm.49330c2fdfe3.svg");
}

.flag-country-mn {
  background-image: url("../img/flags/mn.b9dbe46037cc.svg");
}

.flag-country-mo {
  background-image: url("../img/flags/mo.e6389b765b1d.svg");
}

.flag-country-mp {
  background-image: url("../img/flags/mp.fca52e0d763c.svg");
}

.flag-country-mq {
  background-image: url("../img/flags/mq.1ebf347b50b3.svg");
}

.flag-country-mr {
  background-image: url("../img/flags/mr.236d30652d13.svg");
}

.flag-country-ms {
  background-image: url("../img/flags/ms.6905f6ba46d9.svg");
}

.flag-country-mt {
  background-image: url("../img/flags/mt.cdf31c985178.svg");
}

.flag-country-mu {
  background-image: url("../img/flags/mu.a1d378aa1e1a.svg");
}

.flag-country-mv {
  background-image: url("../img/flags/mv.231ef831746d.svg");
}

.flag-country-mw {
  background-image: url("../img/flags/mw.e19aac4528f4.svg");
}

.flag-country-mx {
  background-image: url("../img/flags/mx.ee5b19e91d2d.svg");
}

.flag-country-my {
  background-image: url("../img/flags/my.a8ffa19b30c0.svg");
}

.flag-country-mz {
  background-image: url("../img/flags/mz.ef98c45b5d92.svg");
}

.flag-country-na {
  background-image: url("../img/flags/na.c90991ab6736.svg");
}

.flag-country-nc {
  background-image: url("../img/flags/nc.fb83041f2902.svg");
}

.flag-country-ne {
  background-image: url("../img/flags/ne.c2c4b5ee9af3.svg");
}

.flag-country-nf {
  background-image: url("../img/flags/nf.7f89a8c1b5dc.svg");
}

.flag-country-ng {
  background-image: url("../img/flags/ng.1460f08f0498.svg");
}

.flag-country-ni {
  background-image: url("../img/flags/ni.4d576440ea83.svg");
}

.flag-country-nl {
  background-image: url("../img/flags/nl.a4df0997c68f.svg");
}

.flag-country-no {
  background-image: url("../img/flags/no.a5b13cf8c49b.svg");
}

.flag-country-np {
  background-image: url("../img/flags/np.c634bb4da35b.svg");
}

.flag-country-nr {
  background-image: url("../img/flags/nr.3b186c375524.svg");
}

.flag-country-nu {
  background-image: url("../img/flags/nu.80cc2c8cce05.svg");
}

.flag-country-nz {
  background-image: url("../img/flags/nz.a85200fb689e.svg");
}

.flag-country-om {
  background-image: url("../img/flags/om.252fa38341b6.svg");
}

.flag-country-pa {
  background-image: url("../img/flags/pa.24b4d63c699b.svg");
}

.flag-country-pe {
  background-image: url("../img/flags/pe.0674a084c314.svg");
}

.flag-country-pf {
  background-image: url("../img/flags/pf.31d8179d9c3c.svg");
}

.flag-country-pg {
  background-image: url("../img/flags/pg.6829ff23bcca.svg");
}

.flag-country-ph {
  background-image: url("../img/flags/ph.0ca37b95bd4c.svg");
}

.flag-country-pk {
  background-image: url("../img/flags/pk.e5f0b5e72423.svg");
}

.flag-country-pl {
  background-image: url("../img/flags/pl.9acc2f382ed6.svg");
}

.flag-country-pm {
  background-image: url("../img/flags/pm.5f8c6a212ced.svg");
}

.flag-country-pn {
  background-image: url("../img/flags/pn.617592118b6c.svg");
}

.flag-country-pr {
  background-image: url("../img/flags/pr.8518bf2b3262.svg");
}

.flag-country-ps {
  background-image: url("../img/flags/ps.9890ba0b838e.svg");
}

.flag-country-pt {
  background-image: url("../img/flags/pt.0cee30b4e64c.svg");
}

.flag-country-pw {
  background-image: url("../img/flags/pw.ac63dd41591e.svg");
}

.flag-country-py {
  background-image: url("../img/flags/py.0a03582f1a38.svg");
}

.flag-country-qa {
  background-image: url("../img/flags/qa.2bc594a7ac08.svg");
}

.flag-country-rainbow {
  background-image: url("../img/flags/rainbow.9372cb9b75f0.svg");
}

.flag-country-re {
  background-image: url("../img/flags/re.fb83041f2902.svg");
}

.flag-country-ro {
  background-image: url("../img/flags/ro.a836115fc240.svg");
}

.flag-country-rs {
  background-image: url("../img/flags/rs.9d06ae67b730.svg");
}

.flag-country-ru {
  background-image: url("../img/flags/ru.8893be5a0fc6.svg");
}

.flag-country-rw {
  background-image: url("../img/flags/rw.884460b5099b.svg");
}

.flag-country-sa {
  background-image: url("../img/flags/sa.8b8381fdd2a0.svg");
}

.flag-country-sb {
  background-image: url("../img/flags/sb.78075efb5e29.svg");
}

.flag-country-sc {
  background-image: url("../img/flags/sc.951d28236f22.svg");
}

.flag-country-sd {
  background-image: url("../img/flags/sd.542dcc4527fc.svg");
}

.flag-country-se {
  background-image: url("../img/flags/se.5d11b3aede08.svg");
}

.flag-country-sg {
  background-image: url("../img/flags/sg.8404e6d021ed.svg");
}

.flag-country-sh {
  background-image: url("../img/flags/sh.5f8f471eeb97.svg");
}

.flag-country-si {
  background-image: url("../img/flags/si.b0ef58a4dd6e.svg");
}

.flag-country-sj {
  background-image: url("../img/flags/sj.a5b13cf8c49b.svg");
}

.flag-country-sk {
  background-image: url("../img/flags/sk.f6c7d964adc7.svg");
}

.flag-country-sl {
  background-image: url("../img/flags/sl.f59d126a747c.svg");
}

.flag-country-sm {
  background-image: url("../img/flags/sm.7903875fcf0a.svg");
}

.flag-country-sn {
  background-image: url("../img/flags/sn.af33947bbca3.svg");
}

.flag-country-so {
  background-image: url("../img/flags/so.e1e5b18d927f.svg");
}

.flag-country-sr {
  background-image: url("../img/flags/sr.089933baa8f0.svg");
}

.flag-country-ss {
  background-image: url("../img/flags/ss.29a244105d30.svg");
}

.flag-country-st {
  background-image: url("../img/flags/st.aab45b5c29e7.svg");
}

.flag-country-sv {
  background-image: url("../img/flags/sv.01d68560c137.svg");
}

.flag-country-sx {
  background-image: url("../img/flags/sx.fb90d7ddf428.svg");
}

.flag-country-sy {
  background-image: url("../img/flags/sy.ac413b639eec.svg");
}

.flag-country-sz {
  background-image: url("../img/flags/sz.49363570450b.svg");
}

.flag-country-tc {
  background-image: url("../img/flags/tc.6ccd3b29dd22.svg");
}

.flag-country-td {
  background-image: url("../img/flags/td.56e45ecfcfa9.svg");
}

.flag-country-tf {
  background-image: url("../img/flags/tf.f3a2c4d17c4a.svg");
}

.flag-country-tg {
  background-image: url("../img/flags/tg.fbf5aaa7f2d7.svg");
}

.flag-country-th {
  background-image: url("../img/flags/th.9106030d3563.svg");
}

.flag-country-tj {
  background-image: url("../img/flags/tj.445470cc3666.svg");
}

.flag-country-tk {
  background-image: url("../img/flags/tk.f80e4b3c59ec.svg");
}

.flag-country-tl {
  background-image: url("../img/flags/tl.108ccfb7cad6.svg");
}

.flag-country-tm {
  background-image: url("../img/flags/tm.85ddc49f2584.svg");
}

.flag-country-tn {
  background-image: url("../img/flags/tn.0a0fffd140c4.svg");
}

.flag-country-to {
  background-image: url("../img/flags/to.6b2a42e8149a.svg");
}

.flag-country-tr {
  background-image: url("../img/flags/tr.b106e3d99f03.svg");
}

.flag-country-tt {
  background-image: url("../img/flags/tt.2a313a9868d2.svg");
}

.flag-country-tv {
  background-image: url("../img/flags/tv.a6ed35505ed9.svg");
}

.flag-country-tw {
  background-image: url("../img/flags/tw.9614ef796f67.svg");
}

.flag-country-tz {
  background-image: url("../img/flags/tz.053ffad99139.svg");
}

.flag-country-ua {
  background-image: url("../img/flags/ua.c6c0d236db4a.svg");
}

.flag-country-ug {
  background-image: url("../img/flags/ug.887042e61c50.svg");
}

.flag-country-um {
  background-image: url("../img/flags/um.a429e6eac662.svg");
}

.flag-country-unasur {
  background-image: url("../img/flags/unasur.859df44acd26.svg");
}

.flag-country-us {
  background-image: url("../img/flags/us.a429e6eac662.svg");
}

.flag-country-uy {
  background-image: url("../img/flags/uy.fd4cd6470ff5.svg");
}

.flag-country-uz {
  background-image: url("../img/flags/uz.6b808d3c28bf.svg");
}

.flag-country-va {
  background-image: url("../img/flags/va.794a5e154d1f.svg");
}

.flag-country-vc {
  background-image: url("../img/flags/vc.773892b6d09c.svg");
}

.flag-country-ve {
  background-image: url("../img/flags/ve.8ad53a32f596.svg");
}

.flag-country-vg {
  background-image: url("../img/flags/vg.0adc5d626e4a.svg");
}

.flag-country-vi {
  background-image: url("../img/flags/vi.4d5b7e0a5982.svg");
}

.flag-country-vn {
  background-image: url("../img/flags/vn.5a2bf30e0ac5.svg");
}

.flag-country-vu {
  background-image: url("../img/flags/vu.5c23ab46a84a.svg");
}

.flag-country-wf {
  background-image: url("../img/flags/wf.92027ec70f5a.svg");
}

.flag-country-ws {
  background-image: url("../img/flags/ws.e692ccc3b0c0.svg");
}

.flag-country-ye {
  background-image: url("../img/flags/ye.c8caf06d5964.svg");
}

.flag-country-za {
  background-image: url("../img/flags/za.2d8faee1614b.svg");
}

.flag-country-zm {
  background-image: url("../img/flags/zm.928130e301d8.svg");
}

.flag-country-zw {
  background-image: url("../img/flags/zw.1d27ea65d332.svg");
}

.flag-xxs {
  height: 1rem;
}

.flag-xs {
  height: 1.25rem;
}

.flag-sm {
  height: 2rem;
}

.flag-md {
  height: 2.5rem;
}

.flag-lg {
  height: 3rem;
}

.flag-xl {
  height: 5rem;
}

.flag-2xl {
  height: 7rem;
}

/*# sourceMappingURL=tabler-flags.css.dafce8fad3ff.map */