{% extends 'base.html' %}
{% block content %}
<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-success mt-5">
                <div class="card-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-success" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                    <h3 class="mb-2">Спасибо! Все гости успешно добавлены.</h3>
                    <p class="mb-0">Ваши данные отправлены для регистрации группового визита.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 