{% extends 'base.html' %}
{% block content %}
<div class="container-xl">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-info mt-5">
                <div class="card-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-info" width="48" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="12" y2="12" /><line x1="12" y1="16" x2="12.01" y2="16" /></svg>
                    <h3 class="mb-2">Групповой визит уже заполнен</h3>
                    <p class="mb-0">Данные для этого группового приглашения уже были отправлены.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 